@use '../utils/_colors'
@use '../utils/_functions'

.subtitle-action
    width: functions.rem(16, 30)
    height: functions.rem(16, 30)

    margin: functions.rem(16, 11) 0px

    background: colors.$bgaction
    border-radius: 100%

    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

    &:nth-child(2)
        margin: functions.rem(16, 11) functions.rem(16, 11) 0px 0px


