
.title-price
    width: 70px
    height: 25px

    background: rgba(255, 255, 255, 0.25)
    backdrop-filter: blur(30px)
    border-radius: 3px 5px 5px 3px
    transform: translateX(-2px)

    display: flex
    justify-content: center
    align-items: center

    color: white
    font-size: 12px
    font-weight: 700
