@use '../utils/_colors'
@use '../utils/_functions'

.slider__wrapper
    width: 93%
    height: functions.rem(16, 30)

    div.slider__item
        margin: 0 functions.rem(16, 20)
        
        width: functions.rem(16, 27)
        height: functions.rem(16, 27)
        
        box-sizing: border-box
        padding: functions.rem(16, 2)

        display: flex
        flex-direction: row
        justify-content: center
        align-content: center

        &:focus
            border: functions.rem(16, 1) solid colors.$whitergba
            box-sizing: border-box
            border-radius: 100%
            
        .item
            width: functions.rem(16, 21)
            height: functions.rem(16, 21)

            box-sizing: border-box
            border-radius: 100%
            background: rgba(random(255), random(255), random(255), 1)


    p.slider__item
        margin: 0
        width: functions.rem(16, 35)
        height: functions.rem(16, 25)

        text-align: center
        padding: functions.rem(16, 5) 0px

        font-size: functions.rem(16, 11)
        color: white
        border: functions.rem(16, 2) solid colors.$nobgcolor
        box-sizing: border-box

        &:hover
            border: functions.rem(16, 2) solid colors.$whitergba
            box-sizing: border-box
            border-radius: functions.rem(16, 8)

        &:focus
            background: linear-gradient(94.53deg, colors.$gradient_pink_01 10.41%, colors.$gradient_pink_02 99.34%)
            backdrop-filter: blur(functions.rem(16, 30))
            border: none
            border-radius: functions.rem(16, 8)


    button
        width: functions.rem(16, 10)
        height: functions.rem(16, 10)
        min-width: functions.rem(16, 0)
        line-height: functions.rem(16, 0)
        font-size: functions.rem(16, 14)
        background: colors.$nobgcolor
        box-shadow: none

        &:hover:enabled
            background: colors.$nobgcolor
